# SourceMod
compile.dat
compile.exe
spcomp.exe
compiled/*

#library from github.com/Kxnrl
#include/store.inc
include/mapmusic.inc
include/geoip2.inc
include/fys.pupd.inc

alwaysweaponskins.sp
buttonrec.sp
lobby.sp
mapchat.sp
mgbet.sp
mgbutton.sp
mgchicken.sp
mgcp.sp
mgdemo.sp
mghelp.sp
mgmonitor.sp
mgnoob.sp
mgfixes.sp
mgplayermanager.sp
mgskin.sp
mgtest.sp
ragdolls.sp
soundhook.sp
svpure.sp

.vscode/*

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk